[submodule "code/extern/glfw"]
	path = code/extern/glfw
	url = https://github.com/glfw/glfw.git
[submodule "code/extern/glm"]
	path = code/extern/glm
	url = https://github.com/g-truc/glm.git
[submodule "code/extern/entt"]
	path = code/extern/entt
	url = https://github.com/skypjack/entt.git
[submodule "code/extern/assimp"]
	path = code/extern/assimp
	url = https://github.com/assimp/assimp.git
